In [3]:
import boto3
import pandas as pd

# Initialize S3 client
s3 = boto3.client('s3')

# Specify bucket name and file name
bucket_name = 'syria-ishtar-ai'
file_name = 'syria_political_violence_events_and_fatalities_by_month-year_as-of-29feb2024.xlsx'

# Download file from S3
local_file_name = 'local_file.xlsx'  # Local file name to save the downloaded file
s3.download_file(bucket_name, file_name, local_file_name)

# Read Excel file into Pandas DataFrame
df = pd.read_excel(local_file_name)

# # Display DataFrame
# print(df)
Z
# Clean up: Delete local file
import os
os.remove(local_file_name)

In [4]:
df.head()

,Country,Admin1,Admin2,ISO3,Admin2 Pcode,Admin1 Pcode,Month,Year,Events,Fatalities
0,Syria,Al Hasakeh,Al Hasakeh,SYR,SY0800,SY08,January,2017,19,30
1,Syria,Al Hasakeh,Al Hasakeh,SYR,SY0800,SY08,January,2017,19,30
2,Syria,Al Hasakeh,Al Hasakeh,SYR,SY0800,SY08,January,2017,19,30
3,Syria,Al Hasakeh,Al Hasakeh,SYR,SY0800,SY08,January,2017,19,30
4,Syria,Al Hasakeh,Al Hasakeh,SYR,SY0800,SY08,January,2017,19,30